*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: sans-serif;
  overflow:hidden;
  background:#292929; 

}

.scene,canvas{
  position:absolute;
  width:100%;
  height:100%;
  z-index:-10;
}
