/* css to handle the cursor movement */

body{
  cursor:none;
}

#cursor,#cursorB{
  position:fixed;
  top:-5em;
  left:-5em;
  transform:translate(-50%,-50%);
  width:8%;
  height:auto;
  transition:0.1s;
  transition:opacity 0s;
  transition:width 0.5s;
  z-index:-5;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#cursorB{
  opacity: 0%;
}

#cursorCenter{
  left:12em;
  top:12em;
  position:fixed;
  transform:translate(-50%,-50%);
  width:100px;
  border:5px solid black;
}
