
@font-face{
	font-family: 'roboto';
	src: url('../media/fonts/roboto.ttf');
}

@font-face{
	font-family: 'roboto-thin';
	src: url('../media/fonts/roboto-thin.ttf');
}

/* PROJECT FONTS */
@font-face{
	font-family: 'pacifico';
	src: url('../media/fonts/pacifico.ttf');
}

@font-face{
	font-family: 'varela';
	src: url('../media/fonts/varela-round.ttf');
}

@font-face{
	font-family: 'eight-bit';
	src: url('../media/fonts/eight-bit-limit.ttf');
}

@font-face{
	font-family: 'digital-dream';
	src: url('../media/fonts/digital-dream.ttf');
}

@font-face{
	font-family: 'impact-label-reversed';
	src: url('../media/fonts/impact-label-reversed.ttf');
}

::-webkit-scrollbar {
  width: 0px;
}

*{
  box-sizing: border-box;
	scroll-behavior: smooth;
	cursor:none;
}
html {
  height: 100%;
}
body{
  font-family: 'roboto-thin', sans-serif;
  background-image: url('./../media/tempBackground/tempBack.jpg');
  background-size: cover;
  overflow-x: hidden;
	overflow-y: hidden;
  min-height: 100%;
  scrollbar-width: none;
}
.logo{
  float:right;
  margin-top:4em;
  margin-right:4em;
  text-align: right;
}
.logo div{
  color: white;
}

.logo img{
  filter: grayscale(100%);
  transition:1s;
  width: 50px;
}

.logo img:hover{
  filter: grayscale(50%);
}
.page-content{
	color: white;
	font-size: 85%;
	width: 100%;
	height: 92%;
	z-index:1;
	margin-top: 8%;
}
.page-indicator{
  margin-top: 50%;
}
.page-indicator.small{
	  margin-top: 80%;
}
.page-indicator ul{
  padding: 0;
  text-align: center;
  list-style: none;
}
.page-indicator span{
	font-size: 90%;
	color: white;
	writing-mode: vertical-rl;
  text-align: center;
}
.page-indicator-label{
	position: relative;
	left: 4em;
	bottom: 8em;
}
.proj-indicator-label{
	position: relative;
	left: 4em;
	bottom: 13.5em;
}
.unfilled{
  width: 16px;
}
.line{
  width: 32px;
}
.filled{
  width: 16px;
}

.more{
	margin-top: 30em;
}
.more a{
	display: block;
	font-size: 110%;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	color: white;
}
a:hover{
	text-decoration: none;
}
.arrow{
  width: 16%;
}
.more-up{
	position: relative;
	bottom: 2em;
	transition:0.5s;
}
.more-down{
	position: relative;
	left: 1.5em;
	bottom: 3em;
}
.more-single-link{
	margin-left: 20%;
}

a.anchor-down{

	font-weight: bold;
	transition:0.5s;
}
a.anchor-down-home:hover{
	color: rgb(223, 3, 252);
}
a.anchor-down-home:hover{
	color: rgb(223, 3, 252);
}
a.anchor-up{
	font-weight: bold;
	transition:0.5s;
}
a.anchor-up:hover{
	color: rgb(223, 3, 252);
}

.scroll-down-indicator{
	margin-left: 45%;
	margin-top: 2%;
}
/* Index page */
div{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.studioName h1{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 12rem;
	font-family:  'roboto', sans-serif;
	line-height: 110%;
}

.studioName h2{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 5rem;

	font-family:  'roboto', sans-serif;
	line-height: 0%;
}
.studioName:nth-child(1){
	margin-left:8rem;
}

.studioName:nth-child(2){
	margin-left:26rem;
}

.studioName:nth-child(3){
	margin-left:32rem;
}
/*		FUD PAGE		*/
#fud-app-heading{
	font-family: 'pacifico', sans-serif;
}
.fud-img{
	display: inline-block;
	height: 12%;
	transition: .5s ease;
}
.fud-img:hover{
	height: 12.3%;
}
#fud-home{
	z-index: -1;
	position: relative;
	bottom: 5em;
	left: 2em;
}
#fud-login{
	z-index: 0;
	position: relative;
	bottom: 3em;
	right: 4em;
}

/*		ADVENTURE TRAVELS		*/
#adventure-travels-heading{
	  font-family: 'roboto', sans-serif;
		font-weight: bold;
}
.adventure-trav-img{
	display: inline-block;
	height: 32%;
	transition: .5s ease;
}
.adventure-trav-img:hover{
	height: 32.5%;
}

/*		HEX 		*/
#hex-heading{
	  font-family: 'eight-bit', serif;
}
.hex-img{
	display: inline-block;
	height: 32%;
	transition: .5s ease;
	z-index: -6!important;
}
.hex-img:hover{
	height: 32.5%;
}
/*		NEIGHBOURHOOD 		*/
#neighbourhoood-heading{
	  font-family: 'digital-dream', serif;
}
.neighbourhoood-img{
	display: inline-block;
	height: 32%;
	transition: .5s ease;
	z-index: -6!important;
}
.neighbourhoood-img:hover{
	height: 32.5%;
}
/*		AFTER HOURS 		*/
#after-hours-heading{
	  font-family: 'impact-label-reversed', serif;
}
.after-hours-img{
	display: inline-block;
	height: 32%;
	transition: .5s ease;
}
.after-hours-img:hover{
	height: 32.5%;
}

/*		WORK IN PROGRESS		*/
#wip-heading{
	font-weight: bold;
}
.wip-img{
	margin-left: 4em;
	height: 30%;
}

/*		ABOUT 		*/
#about-heading{
	font-weight: bold;
}
.about-list{
	list-style-position: inside;
}
.about-img{
	display: inline-block;
	height: 150px;
}
.social-media-img{
	transition:0.5s;
	display: inline-block;
	height: 20px;
	margin-right: 7%;;
}
.social-media-img:hover{
	transform: scale(1.2);
}
.social-media-container{
	padding-top: 3%;
}
.social-media-container a img{
	  filter: grayscale(100%);
		transition:0.5s;
}
.social-media-container a img:hover{
  filter: grayscale(0%);
}
/* Heading hover effect */
 h1.heading a {
  color:rgb(219,219,219);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* hover effect adapted from https://codepen.io/francisco-risi-rosselot/pen/pogJmgV*/
 h1.heading  a:after {
  bottom: 0.8rem;
  width: 0;
  content: "";
  display: block;
  height: 2px;
  left: 100%;
  position: absolute;
  border-radius: 7px;
  transition: width 0.3s, left 0.3s;
}
h1.heading a.hoverBlue:after{
  background:  rgba(3, 173, 252,0.5);
}
h1.heading:hover a.hoverBlue{
  color:rgb(3, 173, 252);
}
