
@font-face{
	font-family: 'roboto';
	src: url('../media/fonts/roboto.ttf');
}

@font-face{
	font-family: 'roboto-thin';
	src: url('../media/fonts/roboto-thin.ttf');
}

/* PROJECT FONTS */
@font-face{
	font-family: 'pacifico';
	src: url('../media/fonts/pacifico.ttf');
}

@font-face{
	font-family: 'varela';
	src: url('../media/fonts/varela-round.ttf');
}

@font-face{
	font-family: 'eight-bit';
	src: url('../media/fonts/eight-bit-limit.ttf');
}

@font-face{
	font-family: 'digital-dream';
	src: url('../media/fonts/digital-dream.ttf');
}

@font-face{
	font-family: 'impact-label-reversed';
	src: url('../media/fonts/impact-label-reversed.ttf');
}

::-webkit-scrollbar {
  width: 0px;
}

*{
  box-sizing: border-box;
	scroll-behavior: smooth;
	cursor:none;
}
html {
  min-height: 100%;
	height: 100%;
}
body{
  font-family: 'roboto-thin', sans-serif;
  /* background-image: url('./../media/tempBackground/tempBack.jpg'); */
  background-size: cover;
  overflow-x: hidden;
	overflow-y: hidden;
  min-height: 100%;
	height: 100%;
  scrollbar-width: none;
}
.contianer{
	height: inherit;
}
.nav-row{
	height: 20%;
}
main{
	height: 80%;
}
.content-row{
	height: 100%;
}

.logo{
	position: absolute;
	top: 4em;
	right: 35%;
	text-align: right;
}
.logo div{
  color: white;
}

.logo img{
  filter: grayscale(100%);
  transition:1s;
  width: 50px;
}

.logo img:hover{
  filter: grayscale(50%);
}
.page-content{
	color: white;
	width: 100%;
	height: 100%;
	z-index:1;
}
.landingPageText{
	width: 100%;
}
.page-indicator{
	height: inherit;
  margin-top: 50%;
}
.page-indicator.small{
	  margin-top: 80%;
}
.page-indicator-content{
	margin-left: 3em;
}
.page-indicator ul{
  padding: 0;
	margin: 0;
  text-align: center;
  list-style: none;
}
.page-indicator span{
	color: white;
	writing-mode: vertical-rl;
  text-align: center;
}
.page-indicator-label{
	position: relative;
	left: 3em;
	bottom: 7.5em;
}
.proj-indicator-label{
	font-size: 90%;
	position: relative;
	left: 2em;
	bottom: 11.5em;
}
.set-height{
	height: inherit;
}
.unfilled{
  width: 16px;
}
.line{
  width: 32px;
	filter:grayscale(100%)!important;
}
.filled{
  width: 16px;
}

.more-landing{
position: absolute;
bottom: 15%;
right: 35%;

}
.more-landing a{
	display: block;
	font-size: 110%;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	color: white;
}
.more-proj{
	position: absolute;
	right: 35%;
	bottom: 5%;
}
.more-proj a{
	display: block;
	font-size: 110%;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	color: white;
}
a:hover{
	text-decoration: none;
}
.arrow{
  width: 24px;
}
.more-up{
	position: relative;
	right: 1.5em;
	bottom: 2em;
	transition:0.5s;
}
.more-down{
	position: relative;
	bottom: 3em;
}
.more-single-link{
	margin-left: 20%;
}

a.anchor-down{
	font-weight: bold;
	transition:0.5s;
}
a.anchor-down-home:hover{
	color: rgb(223, 3, 252);
}
a.anchor-down-home:hover{
	color: rgb(223, 3, 252);
}
a.anchor-up{
	font-weight: bold;
	transition:0.5s;
}
a.anchor-up:hover{
	color: rgb(223, 3, 252);
}

.scroll-down-indicator{
	margin-left: 45%;
	margin-top: 8%;
	filter:grayscale(100%);
}
.scroll-down-indicator:hover{
	filter:grayscale(0%);
}
/* Index page */
div{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
/*		FUD PAGE		*/
#fud-app-heading{
	font-family: 'pacifico', sans-serif;
	font-size: 4vw;
}
.fud-img{
	display: inline-block;
	height: 100%;
	position: relative;
	bottom: 3em;
	left: 2em;
	transition: .5s ease;
}
.fud-img:hover{
	height: 101.5%;
}

/*		ADVENTURE TRAVELS		*/
#adventure-travel-heading{
	  font-family: 'roboto', sans-serif;
		font-size: 3vw;
		font-weight: bold;
}
.adventure-trav-img{
	display: inline-block;
	height: 70%;
	transition: .5s ease;
}
.adventure-trav-img:hover{
	height: 71.5%;
}


/*		HEX 		*/
#hex-heading{
		font-family: 'eight-bit', serif;
		font-size: 4vw;
}
.hex-img{
	display: inline-block;
	height: 70%;
	transition: .5s ease;
	z-index: -6!important;
}
.hex-img:hover{
	height: 71.5%;
}
/*		NEIGHBOURHOOD 		*/
#neighbourhood-heading{
	  font-family: 'digital-dream', serif;
		font-size: 3vw;
}
.neighbourhoood-img{
	display: inline-block;
	height: 70%;
	transition: .5s ease;
	z-index: -6!important;
}
.neighbourhoood-img:hover{
	height: 71.5%;
}
/*		AFTER HOURS 		*/
#after-hours-heading{
	  font-family: 'impact-label-reversed', serif;
		font-size: 3vw;
}
.after-hours-img{
	display: inline-block;
	height: 70%;
	transition: .5s ease;
}
.after-hours-img:hover{
	height: 71.5%;
}

/*		WORK IN PROGRESS		*/
#wip-heading{
	font-weight: bold;
}
.wip-img{
	margin-left: 4em;
	height: 30%;
}

/*		ABOUT 		*/
#about-heading{
	font-weight: bold;
}
.about-list{
	list-style-position: inside;
}
.about-img{
	display: inline-block;
	height: 150px;
}
.social-media-img{
	transition:0.5s;
	display: inline-block;
	height: 20px;
	margin-right: 7%;;
}
.social-media-img:hover{
	transform: scale(1.2);
}
.social-media-container{
	padding-top: 3%;
}
.social-media-container a img{
	  filter: grayscale(100%);
		transition:0.5s;
}
.social-media-container a img:hover{
  filter: grayscale(0%);
}


/* Heading hover effect */
 .heading a {
  color:rgb(219,219,219);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	transition:0.5s;
}
/* hover effect adapted from https://codepen.io/francisco-risi-rosselot/pen/pogJmgV*/
 .heading  a:after {
  bottom: 0.8rem;
  width: 0;
  content: "";
  display: block;
  height: 2px;
  left: 100%;
  position: absolute;
  border-radius: 7px;
  transition: width 0.3s, left 0.3s;
}
.heading a.hoverBlue:after{
  background:  rgba(3, 173, 252,0.5);
}
.heading:hover a.hoverBlue{
  color:rgb(3, 173, 252);
}


.limeColor,#about-jaedon b{
	color:#69bf73!important;
}

.lemColor,#about-jono b{
		color:#e3dd71!important;
}
div.blurBack{
	position:absolute;
	top:-10px;
	left:-10px;
	z-index:0;
	background-color:rgba(20, 20, 20, .50);
	border-radius: 5px;
	filter:blur(5px);
	height:90%;
	min-width: 100%;

	min-height:35%;
}
.aboutMore{
	margin-top:40%;
}
/* ========================= */
/* Scaling css  */
/* ========================= */


/* //tablets */
@media only screen and (max-width: 768px) {
	/* hidden elements */
	.hide-phone{
				display:none!important;
	}
  .page-indicator,#cursor,#cursorB,.about-img{
		display:none!important;
	}
	.more-landing,.more-proj{

		right:-50%;
		z-index:-10000;
	}
	.set-height{
		height:auto;
	}

	.logo{
		right:10%;
	}
	#burger{
		margin-left:1em!important;
	}
	#burgerMenuBox div{
	  margin-left:0!important;
	}
	#burgerMenuBox div a {
		font-size: 1rem!important;
		padding-left:0!important;
	}
	body{
		max-height: 100vh!important;
		max-height: 100%!important;
  	overflow-y: hidden!important;
		background-color:rgb(0,0,0)!important;
	}
	.page-content{
		padding-left:8%;
		padding-right:8%;
	}

	.page-content div{

		font-size:1em;
	}
	#fud-app-heading,#fudPageHeading a,#adventure-travel-heading,#hex-heading,#neighbourhood-heading,#after-hours-heading{
		font-size:3em;
	}
	/* fud page */
	.fud-img{
		width:65vw;
		margin-top:3em;
	}
	.adventure-trav-img,.hex-img,.neighbourhoood-img,.after-hours-img{
		width:70vw;
	}
	html{
		overflow-y: hidden!important;
		overflow-x: hidden!important;
	}


	#loadingAnim{
		width:150px!important;
		height:150px!important;
	}
	#loadingAnim{
		left:50vw!important;
		top:50vh!important;
	}

	#about-jaedon div,#about-jono div{
		font-size:1rem;
	}
	#about-jaedon h3,#about-jono h3{
		font-size:1.3rem;
	}
	.smaller{
		margin-top:10vh!important;
	}
	.smaller img{
		width:15vw!important;
		color:rgb(219,219,219);
	}
	/* #about-jono h3{
		margin-top:3%;
	} */
	#about-heading{
		font-size:3.4rem;
	}
}
/* phone scaling */
@media only screen and (max-width: 576px){
	.hide-phone{
				display:none!important;
	}
	.logo{
		right:10%!important;
	}
	#fud-app-heading,#fudPageHeading a,#adventure-travel-heading,#hex-heading,#neighbourhood-heading,#after-hours-heading{
		font-size:2em;
	}
	#about-heading{
		font-size:3.4rem;
	}
	.transition-next{
		vertical-align: middle;
		padding-top:0vh;
	}
	.page-content div{

		font-size:0.8em;
	}
	.fud-img{
		width:65vw;
		margin-top:3em;
	}
	.adventure-trav-img,.hex-img,.neighbourhoood-img,.after-hours-img{
		width:90vw;
	}
}
